:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

@font-face {
    font-family: outfit-regular;
    src: url("/static/fonts/outfit/Outfit-VariableFont_wght.ttf");
    font-weight: 350;
}

@font-face {
    font-family: hack-regular;
    src: url("/static/fonts/hack/Hack-Regular.ttf");
}

html,
body {
    background-color: var(--base);
    color: var(--text);
    font-family: outfit-regular;
    line-height: 1.5;
    margin-bottom: 25px;
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    padding: unset;
    scrollbar-color: var(--surface2) transparent;
}

html {
    min-height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
}

::selection {
  background: var(--surface1);
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#page.htmx-added {
    opacity: 0;
}

#page {
    opacity: 1;
    transition: opacity 0.8s ease-in;
}

/* navigation bar */
.navbar {
    background-color: var(--surface0);
    box-shadow: 0 5px 40px var(--crust);
    color: var(--text);
    font-size: 1.4em;
    height: 60px;
    position: relative;
    top: 0;
    transition: height 0.5s;
    width: 100%;
    z-index: 3;
}

.navbar ul {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    height: inherit;
}

.navbar a {
    align-items: center;
    border-radius: 10px;
    color: var(--text);
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    height: inherit;
    justify-content: center;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    transition:
        background-color 0.5s ease-in,
        color 0.5s ease-in,
        font-size 0.2s ease-in;
}

.navbar li a:hover {
    font-size: 1.2em;
    background-color: var(--surface1);
}

.navbar li a:hover img {
    height: 85%;
    width: 85%;
}

.navbar li a img {
    height: 75%;
    width: 75%;
    margin: auto;
    display: block;
    transition:
        height 0.2s ease-in,
        width 0.2s ease-in;
}

/* menu */
.hidden {
    visibility: hidden;
    opacity: 0;
}

.menu {
    background-color: rgba(24, 24, 37, 0.7); /* var(--mantle) */
    box-shadow: 0 5px 40px var(--crust);
    bottom: 0;
    top: 60px; /* NOTE: same as navbar */
    display: flex;
    font-size: 1.4em;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 60px;
    transition:
        box-shadow 0.2s ease-in,
        opacity 0.2s ease-in,
        top 0.5s ease-in,
        visibility 0.2s ease-in;
    width: fit-content;
    z-index: 2;
}

.menu ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: var(--text);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    padding: 20px;
    transition:
        background-color 0.5s ease-in,
        box-shadow 0.5s ease-in,
        font-size 0.2s ease-in;
}

.menu img {
    display: block;
    height: 25%;
    margin-bottom: 5px;
    width: 25%;
    transition:
        height 0.2s ease-in,
        width 0.2s ease-in;
}

.menu a:hover {
    font-size: 1.5em;
    background-color: rgba(69, 71, 90, 0.6); /* var(--surface1) */
}

.menu a:hover img {
    height: 45%;
    width: 45%;
}

/* NOTE: this needs to be set before the media thing */
/* buttons */
.next {
    float: right;
    right: 0px;
}

.prev {
    float: left;
    left: 0px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    z-index: 1;
}

.button-container a {
    align-content: center;
    background-color: transparent;
    border: none;
    bottom: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: 100px;
    min-width: 50px;
    position: fixed;
    top: 0;
    transition:
        background-color 0.5s ease-in,
        box-shadow 0.5s ease-in,
        color 0.5s ease-in,
        max-width 0.3s ease-in,
        padding 0.3s ease-in;
}

.button-container a:hover {
    background-color: rgba(69, 71, 90, 0.5); /* var(--surface1) */
    box-shadow: 0 0 10px var(--surface0);
    max-width: 110px;
}

.button-container img {
    max-height: 100%;
    max-width: 100%;
    filter: opacity(0.5);
}

/* content */
.content {
    font-size: 1.1em;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 40px;
    transition: margin 1.5s ease-in;
}

.content h1 {
    border-bottom: 2px solid var(--surface0);
    color: var(--yellow);
    font-size: 2.3em;
    margin-bottom: 25px;
    margin-top: 30px;
    transition: font-size 0.2s ease-in;
}

.content h1:hover {
    font-size: 3.5em;
}

.content h2 {
    border-bottom: 2px solid var(--surface0);
    color: var(--lavender);
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 1.5em;
    transition: font-size 0.2s ease-in;
}

.content h2:hover {
    font-size: 2.5em;
}

.content h3 {
    border-bottom: 2px solid var(--surface0);
    color: var(--rosewater);
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 1.2em;
    transition: font-size 0.2s ease-in;
}

.content h3:hover {
    font-size: 2em;
}

.content p {
    background-color: var(--crust);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--crust);
    color: var(--text);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.content ul {
    margin-left: 20px;
    padding-left: 0;
}

.content a {
    color: var(--peach);
    transition: color 0.5s ease-in;
}

.content a:hover {
    color: var(--lavender);
}

.content img {
    border-radius: 10px;
    border: 2px solid var(--lavender);
    box-shadow: 0 0 25px var(--crust);
    color: var(--text);
    display: block;
    height: auto;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    max-width: 100%;
}

/* Code */
.code-container {
    background-color: var(--base);
    border-radius: 10px;
    border: 2px solid var(--surface0);
    box-shadow: 0 0 15px var(--crust);
    color: var(--text);
    margin-bottom: 35px;
    margin-top: 35px;
    padding: 5px;
}

.code-inner {
    border-radius: 6px;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    padding: 15px;
    scrollbar-color: var(--surface2) transparent;
}

.code-inner pre {
    margin: unset;
    tab-size: 4;
}

.code-inner pre code {
    font-family: hack-regular;
    font-size: 0.9em;
}

@media (max-width: 1000px) {
    .navbar {
        height: 50px;
    }

    .menu {
        top: 50px;
    }

    .button-container a {
        background-color: var(--surface0);
        border-radius: 10px;
        box-shadow: 0 5px 40px var(--crust);
        color: var(--text);
        height: 60px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 3%;
        margin-right: 3%;
        position: static;
        width: 90px;
    }

    .button-container a:first-child:last-child.next {
        margin-left: auto;
    }

    .button-container a:hover {
        padding: 2px;
    }

    .button-container img {
        margin: auto;
        display: block;
    }

    .content {
        margin-left: 5%;
        margin-right: 5%;
    }
}
